*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
#*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData

# History files
.Rhistory
.Rapp.history

R/defunct
myNotes.*
data/salmon_data/rawData
data/dfaBayesFits/
data/gamFits/
data/escapement_fits/
data/mortality_fits/
data/generation_fits/
data/model_structure_fits/
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so
