*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
#*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData

# History files
.Rhistory
.Rapp.history

Rmd/
R/hidden_scripts/
R/unused_scripts/
myNotes.*
figs/ms_figs/old_version/
figs/unused/
data/salmon_data/raw_data/
data/salmon_data/hidden_data/
data/dfaBayesFits/
data/gamFits/
data/escapement_fits/
data/mortality_fits/
data/survival_fits/
data/generation_fits/
data/model_structure_fits/
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so
