*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.ps
*.toc
# *.txt
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
.RData

# History files
.Rhistory
.Rapp.history

myNotes.*
data/workingFinalSimRun
data/salmonData/rawData
data/dfaBayesFits/
.Rproj.user/
.Rproj.user
*.html
scripts/*cache*
*.o
*.so
